*
{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  color: #fff;
  background-color: beige;
  font-family: 'Oxygen', sans-serif;
}

.brand h1 {
 font-family: 'Lora', sans-serif;
 text-align: center;
  color:  #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 30px;
  margin-bottom: 0;
  line-height: .75;
}

  .container {
     width: 100%;
   }

  #story-titles {
  margin-top: 40px;
  padding: 30px;
  margin-left: 40px;
  color: black;
  width: 80%;
  height: 200px;
  }
 
 p{
  border:2px solid #61122f;
  width:100%;

}

h3,h5,h4 {

  float: right;
  position: relative;
  text-align: center;
  border-bottom: 1px solid black; 
  border-left: 1px solid black;
  font-size: 1em;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: blue;
}

